@model IEnumerable<TechnicalAssessment.Models.Book>

@{
    ViewBag.Title = "BookList";
}

<h2>Book List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm())
    {
<p>
    Search: @Html.TextBox("SearchString")   
    <input type="submit" value="Search" />
</p>

    }
</p>

    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Book Name
            </th>
            <th>
                Book ID
            </th>
            <th>
                Reservation Status
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bookID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.reserved)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                    @Html.ActionLink("Reserve", "Reserve", new { id = item.ID }) |
                    @Html.ActionLink("Return", "Return", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
